In [60]:
import pandas as pd

In [61]:
earnings = pd.read_csv('stock_data/earnings_latest.csv')

In [62]:
jd_earnings = earnings[earnings.symbol.eq('JD')]

In [63]:
jd_earnings.sort_values(by = ['date'])

      symbol        date      qtr  eps_est   eps release_time
77932     JD  2014-08-15  06/2014   -0.040  0.00          pre
77933     JD  2014-11-17  09/2014    0.010  0.04          pre
77934     JD  2015-03-03  12/2014   -0.010  0.01          pre
77935     JD  2015-05-08  03/2015   -0.020 -0.02          pre
77936     JD  2015-08-07  06/2015   -0.030  0.00          pre
77937     JD  2015-11-16  09/2015    0.030  0.00          pre
77938     JD  2016-03-01  12/2015   -0.020 -0.07          pre
77939     JD  2016-05-09  03/2016   -0.030 -0.02          pre
77940     JD  2016-08-10  06/2016   -0.010  0.04          pre
77941     JD  2016-11-15  09/2016    0.000  0.03          pre
77942     JD  2017-03-02  12/2016   -0.050  0.06          pre
77943     JD  2017-05-08  03/2017    0.020  0.15          pre
77944     JD  2017-08-14  06/2017    0.080  0.10          pre
77945     JD  2017-11-13  09/2017    0.100  0.23          pre
77946     JD  2018-03-02  12/2017    0.090  0.05          pre
77947     JD  2018-05-08  03/2018    0.150  0.11          pre
77948     JD  2018-08-16  06/2018    0.120  0.05          pre
77949     JD  2018-11-19  09/2018    0.080  0.12          pre
77950     JD  2019-02-28  12/2018   -0.264  0.51          pre
77951     JD  2019-05-10  03/2019    0.806  2.23          pre
77952     JD  2019-08-13  06/2019    0.462  2.30          pre
77953     JD  2019-11-15       Q3    1.205  2.08          NaN
77954     JD  2020-03-02       Q4    0.443  0.54          NaN
77955     JD  2020-05-15       Q1    0.827  1.98          pre
77956     JD  2020-08-17       Q2    2.664  3.51          NaN

In [64]:
prices = pd.read_csv('stock_data/stock_prices_latest.csv')

In [65]:
jd_prices = prices[prices.symbol.eq('JD')]

In [66]:
jd_prices.sort_values(by = ['date'])

,symbol,date,open,high,low,close,close_adjusted,volume,split_coefficient
4154781,JD,2014-05-22,21.75,22.800,20.2400,20.90,20.90,84449700,1.0
4154853,JD,2014-05-23,21.25,21.250,19.9400,20.10,20.10,20890300,1.0
4154676,JD,2014-05-27,20.28,22.980,20.2500,22.97,22.97,15338100,1.0
4154866,JD,2014-05-28,22.98,25.300,22.8000,24.78,24.78,16783000,1.0
4154586,JD,2014-05-29,25.04,25.690,24.2400,25.40,25.40,8525900,1.0
...,...,...,...,...,...,...,...,...,...
22801733,JD,2020-09-14,75.70,76.910,75.0000,76.59,76.59,7414914,1.0
22801735,JD,2020-09-15,78.23,78.415,76.5902,77.00,77.00,8105463,1.0
22801734,JD,2020-09-16,77.01,77.070,74.9500,75.09,75.09,8073989,1.0
22801738,JD,2020-09-17,73.02,74.470,72.7556,74.37,74.37,9099387,1.0
22801732,JD,2020-09-18,75.08,75.790,73.0700,74.50,74.50,9575014,1.0

In [67]:
jd_earnings.dtypes

symbol           object
date             object
qtr              object
eps_est         float64
eps             float64
release_time     object
dtype: object

In [68]:
jd_prices.dtypes

symbol                object
date                  object
open                 float64
high                 float64
low                  float64
close                float64
close_adjusted       float64
volume                 int64
split_coefficient    float64
dtype: object

In [69]:
merged = jd_prices.merge(jd_earnings, on='date', how='left')

In [70]:
merged

,symbol_x,date,open,high,low,close,close_adjusted,volume,split_coefficient,symbol_y,qtr,eps_est,eps,release_time
0,JD,2014-09-10,29.04,29.230,28.0200,28.35,28.35,7511800,1.0,NaN,NaN,NaN,NaN,NaN
1,JD,2015-10-05,29.15,29.150,28.3500,28.78,28.78,12349977,1.0,NaN,NaN,NaN,NaN,NaN
2,JD,2014-06-27,28.36,28.500,27.7100,28.01,28.01,3066300,1.0,NaN,NaN,NaN,NaN,NaN
3,JD,2016-12-09,26.87,26.970,26.2650,26.84,26.84,7892442,1.0,NaN,NaN,NaN,NaN,NaN
4,JD,2016-06-06,23.16,23.505,23.1200,23.32,23.32,9133421,1.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1589,JD,2020-09-16,77.01,77.070,74.9500,75.09,75.09,8073989,1.0,NaN,NaN,NaN,NaN,NaN
1590,JD,2020-09-15,78.23,78.415,76.5902,77.00,77.00,8105463,1.0,NaN,NaN,NaN,NaN,NaN
1591,JD,2020-09-10,77.13,78.170,73.5500,74.53,74.53,11810426,1.0,NaN,NaN,NaN,NaN,NaN
1592,JD,2020-09-08,76.00,78.015,75.3800,76.22,76.22,14080540,1.0,NaN,NaN,NaN,NaN,NaN
1593,JD,2020-09-17,73.02,74.470,72.7556,74.37,74.37,9099387,1.0,NaN,NaN,NaN,NaN,NaN

In [74]:
merged['open_next_day'] = merged.open.shift(-1)
merged['high_next_day'] = merged.high.shift(-1)
merged['low_next_day'] = merged.low.shift(-1)
merged['close_next_day'] = merged.close.shift(-1)
merged['volume_next_day'] = merged.volume.shift(-1)
merged['open_previous_day'] = merged.open.shift(+1)
merged['high_previous_day'] = merged.high.shift(+1)
merged['low_previous_day'] = merged.low.shift(+1)
merged['close_previous_day'] = merged.close.shift(+1)
merged['volume_previous_day'] = merged.volume.shift(+1)

In [75]:
merged_clean = merged.drop(columns = ['close_adjusted', 'split_coefficient', 'symbol_y'])
merged_clean

,symbol_x,date,open,high,low,close,volume,qtr,eps_est,eps,...,open_next_day,high_next_day,low_next_day,close_next_day,volume_next_day,volume_previous_day,open_previous_day,high_previous_day,low_previous_day,close_previous_day
0,JD,2014-09-10,29.04,29.230,28.0200,28.35,7511800,NaN,NaN,NaN,...,29.15,29.150,28.3500,28.78,12349977.0,NaN,NaN,NaN,NaN,NaN
1,JD,2015-10-05,29.15,29.150,28.3500,28.78,12349977,NaN,NaN,NaN,...,28.36,28.500,27.7100,28.01,3066300.0,7511800.0,29.04,29.230,28.0200,28.35
2,JD,2014-06-27,28.36,28.500,27.7100,28.01,3066300,NaN,NaN,NaN,...,26.87,26.970,26.2650,26.84,7892442.0,12349977.0,29.15,29.150,28.3500,28.78
3,JD,2016-12-09,26.87,26.970,26.2650,26.84,7892442,NaN,NaN,NaN,...,23.16,23.505,23.1200,23.32,9133421.0,3066300.0,28.36,28.500,27.7100,28.01
4,JD,2016-06-06,23.16,23.505,23.1200,23.32,9133421,NaN,NaN,NaN,...,21.23,21.500,20.9800,21.31,8291555.0,7892442.0,26.87,26.970,26.2650,26.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1589,JD,2020-09-16,77.01,77.070,74.9500,75.09,8073989,NaN,NaN,NaN,...,78.23,78.415,76.5902,77.00,8105463.0,7414914.0,75.70,76.910,75.0000,76.59
1590,JD,2020-09-15,78.23,78.415,76.5902,77.00,8105463,NaN,NaN,NaN,...,77.13,78.170,73.5500,74.53,11810426.0,8073989.0,77.01,77.070,74.9500,75.09
1591,JD,2020-09-10,77.13,78.170,73.5500,74.53,11810426,NaN,NaN,NaN,...,76.00,78.015,75.3800,76.22,14080540.0,8105463.0,78.23,78.415,76.5902,77.00
1592,JD,2020-09-08,76.00,78.015,75.3800,76.22,14080540,NaN,NaN,NaN,...,73.02,74.470,72.7556,74.37,9099387.0,11810426.0,77.13,78.170,73.5500,74.53
1593,JD,2020-09-17,73.02,74.470,72.7556,74.37,9099387,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,14080540.0,76.00,78.015,75.3800,76.22

In [76]:
earnings_dates_data = merged_clean[pd.notnull(merged_clean['qtr'])]

In [77]:
earnings_dates_data

,symbol_x,date,open,high,low,close,volume,qtr,eps_est,eps,...,open_next_day,high_next_day,low_next_day,close_next_day,volume_next_day,volume_previous_day,open_previous_day,high_previous_day,low_previous_day,close_previous_day
38,JD,2017-05-08,37.88,39.090,37.6900,38.55,31389643,03/2017,0.020,0.15,...,31.40,31.560,31.0850,31.11,5975227.0,9844031.0,25.900,26.070,25.5200,25.55
44,JD,2017-11-13,41.97,42.770,40.8500,41.34,43593708,09/2017,0.100,0.23,...,27.75,28.400,26.9100,27.32,5952836.0,6661683.0,26.350,26.760,26.2010,26.52
130,JD,2016-05-09,23.99,23.990,22.6700,23.43,45307397,03/2016,-0.030,-0.02,...,39.00,39.620,37.9800,39.22,18130801.0,5947083.0,33.070,33.850,32.8700,33.72
215,JD,2017-08-14,45.00,45.450,43.0600,44.25,36753356,06/2017,0.080,0.10,...,25.40,27.050,25.1900,26.99,16470408.0,16348800.0,37.870,38.000,37.1200,37.45
241,JD,2016-11-15,25.69,26.960,25.2900,26.41,38369212,09/2016,0.000,0.03,...,27.00,27.730,26.9600,27.28,8124615.0,12505389.0,23.310,23.390,22.8600,23.17
247,JD,2016-08-10,24.11,24.600,23.2600,23.41,33722234,06/2016,-0.010,0.04,...,24.93,25.450,24.4800,25.20,15385510.0,7080140.0,29.570,30.270,29.5100,29.85
303,JD,2015-05-08,32.96,33.850,32.1000,33.74,11417158,03/2015,-0.020,-0.02,...,33.73,34.250,33.4900,34.02,6050612.0,15664552.0,44.760,46.850,44.6200,45.87
560,JD,2017-03-02,31.74,32.470,30.4800,30.93,22176037,12/2016,-0.050,0.06,...,26.27,27.480,26.2700,26.77,10343477.0,11741345.0,27.000,27.120,26.0900,26.50
566,JD,2015-11-16,26.71,29.580,26.5308,28.81,26242713,09/2015,0.030,0.00,...,25.60,26.575,25.5500,26.50,12505496.0,14493508.0,39.010,39.180,38.6000,39.01
689,JD,2016-03-01,26.89,27.190,26.3100,26.50,17268274,12/2015,-0.020,-0.07,...,22.20,22.300,21.5100,21.68,9906981.0,16783000.0,22.980,25.300,22.8000,24.78
738,JD,2014-11-17,27.78,28.000,24.8000,25.00,11837626,09/2014,0.010,0.04,...,29.30,29.900,27.3400,27.53,24166738.0,11665471.0,30.130,31.840,30.1225,31.00
739,JD,2015-03-03,29.30,29.900,27.3400,27.53,24166738,12/2014,-0.010,0.01,...,28.64,28.800,28.3500,28.54,3919297.0,11837626.0,27.780,28.000,24.8000,25.00
853,JD,2015-08-07,33.03,34.200,31.6500,32.07,15015822,06/2015,-0.030,0.00,...,27.84,28.220,27.6700,28.15,10054908.0,3438400.0,27.980,28.240,27.7300,28.10
903,JD,2014-08-15,28.69,30.700,28.1000,29.58,10580600,06/2014,-0.040,0.00,...,23.41,23.460,22.8000,22.89,8444100.0,14352327.0,28.140,28.680,27.4200,27.54
961,JD,2018-03-02,42.98,43.990,41.8000,43.80,34896969,12/2017,0.090,0.05,...,40.09,40.520,38.6800,39.08,14019012.0,15262397.0,42.200,42.290,40.3300,40.71
1015,JD,2018-05-08,38.18,38.290,36.5500,36.94,26166380,03/2018,0.150,0.11,...,38.99,39.520,38.9900,39.45,605463.0,9000118.0,36.270,36.870,36.2700,36.36
1128,JD,2018-11-19,22.45,22.830,20.9300,21.11,42137009,09/2018,0.080,0.12,...,22.61,23.590,22.3300,23.23,17949567.0,12368422.0,23.000,23.550,22.8300,23.40
1186,JD,2019-02-28,28.58,28.620,26.5800,27.71,66593109,12/2018,-0.264,0.51,...,31.98,32.805,31.7700,32.67,16679765.0,20065932.0,31.830,32.445,31.0700,32.22
1192,JD,2018-08-16,32.00,33.200,31.1800,31.97,46628209,06/2018,0.120,0.05,...,24.67,25.350,24.5700,24.68,10932834.0,8679163.0,35.620,35.905,35.4700,35.79
1248,JD,2019-05-10,30.19,30.470,27.9100,28.17,57736632,03/2019,0.806,2.23,...,26.39,27.770,25.8100,27.51,33001332.0,28758618.0,28.295,28.500,26.7800,27.13
1313,JD,2019-08-13,28.64,30.980,28.1500,30.66,46127300,06/2019,0.462,2.30,...,26.12,26.770,25.8407,26.57,12524000.0,30022900.0,29.700,30.702,29.5500,29.63
1376,JD,2019-11-15,35.05,35.430,32.9304,33.55,39046523,Q3,1.205,2.08,...,33.14,33.150,32.6100,32.87,6789700.0,6366600.0,33.230,33.450,32.9600,33.23
1449,JD,2020-03-02,41.38,44.120,40.2501,43.30,45794496,Q4,0.443,0.54,...,40.00,40.350,38.4000,38.84,14776105.0,14263210.0,38.500,39.580,38.3800,39.37
1504,JD,2020-05-15,50.00,51.008,48.7600,50.85,40414533,Q1,0.827,1.98,...,47.24,47.665,46.6773,46.72,11336123.0,27173031.0,47.380,49.080,46.3700,48.96
1574,JD,2020-08-17,64.66,67.100,62.6000,66.98,32808949,Q2,2.664,3.51,...,71.26,74.390,71.0300,73.94,22001056.0,22115999.0,70.800,73.690,70.8000,72.56